<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hya.management.mapper.PurchaseOrderMapper">
    <update id="audit" >
        update purchase_order set is_audit= 1 where id = #{id}
    </update>

    <update id="updateSaleTimeAndStatus" >
        update purchase_order set purchase_time =#{time},status=0 where id = #{id}
    </update>

</mapper>